@keyframes city-1 {
    0% {
        color: var(--black);
        font-size: 54px;
    }

    10% {
        color: var(--white);
        font-size: 70px;
    }

    20% {
        color: var(--black);
        font-size: 54px;
    }

    30% {
        color: var(--black);
        font-size: 54px;
    }

    40% {
        color: var(--black);
        font-size: 54px;
    }

    50% {
        color: var(--black);
        font-size: 54px;
    }

    60% {
        color: var(--black);
        font-size: 54px;
    }

    70% {
        color: var(--black);
        font-size: 54px;
    }

    80% {
        color: var(--black);
        font-size: 54px;
    }

    90% {
        color: var(--black);
        font-size: 54px;
    }

    100% {
        color: var(--black);
        font-size: 54px;
    }
}

@keyframes city-2 {
    0% {
        color: var(--black);
        font-size: 54px;
    }

    10% {
        color: var(--black);
        font-size: 54px;
    }

    20% {
        color: var(--white);
        font-size: 70px;
    }

    30% {
        color: var(--black);
        font-size: 54px;
    }

    40% {
        color: var(--black);
        font-size: 54px;
    }

    50% {
        color: var(--black);
        font-size: 54px;
    }

    60% {
        color: var(--black);
        font-size: 54px;
    }

    70% {
        color: var(--black);
        font-size: 54px;
    }

    80% {
        color: var(--black);
        font-size: 54px;
    }

    90% {
        color: var(--black);
        font-size: 54px;
    }

    100% {
        color: var(--black);
        font-size: 54px;
    }
}

@keyframes city-3 {
    0% {
        color: var(--black);
        font-size: 54px;
    }

    10% {
        color: var(--black);
        font-size: 54px;
    }

    20% {
        color: var(--black);
        font-size: 54px;
    }

    30% {
        color: var(--white);
        font-size: 70px;
    }

    40% {
        color: var(--black);
        font-size: 54px;
    }

    50% {
        color: var(--black);
        font-size: 54px;
    }

    60% {
        color: var(--black);
        font-size: 54px;
    }

    70% {
        color: var(--black);
        font-size: 54px;
    }

    80% {
        color: var(--black);
        font-size: 54px;
    }

    90% {
        color: var(--black);
        font-size: 54px;
    }

    100% {
        color: var(--black);
        font-size: 54px;
    }
}

@keyframes city-4 {
    0% {
        color: var(--black);
        font-size: 54px;
    }

    10% {
        color: var(--black);
        font-size: 54px;
    }

    20% {
        color: var(--black);
        font-size: 54px;
    }

    30% {
        color: var(--black);
        font-size: 54px;
    }

    40% {
        color: var(--white);
        font-size: 70px;
    }

    50% {
        color: var(--black);
        font-size: 54px;
    }

    60% {
        color: var(--black);
        font-size: 54px;
    }

    70% {
        color: var(--black);
        font-size: 54px;
    }

    80% {
        color: var(--black);
        font-size: 54px;
    }

    90% {
        color: var(--black);
        font-size: 54px;
    }

    100% {
        color: var(--black);
        font-size: 54px;
    }
}

@keyframes city-5 {
    0% {
        color: var(--black);
        font-size: 54px;
    }

    10% {
        color: var(--black);
        font-size: 54px;
    }

    20% {
        color: var(--black);
        font-size: 54px;
    }

    30% {
        color: var(--black);
        font-size: 54px;
    }

    40% {
        color: var(--black);
        font-size: 54px;
    }

    50% {
        color: var(--white);
        font-size: 70px;
    }

    60% {
        color: var(--black);
        font-size: 54px;
    }

    70% {
        color: var(--black);
        font-size: 54px;
    }

    80% {
        color: var(--black);
        font-size: 54px;
    }

    90% {
        color: var(--black);
        font-size: 54px;
    }

    100% {
        color: var(--black);
        font-size: 54px;
    }
}

@keyframes city-6 {
    0% {
        color: var(--black);
        font-size: 54px;
    }

    10% {
        color: var(--black);
        font-size: 54px;
    }

    20% {
        color: var(--black);
        font-size: 54px;
    }

    30% {
        color: var(--black);
        font-size: 54px;
    }

    40% {
        color: var(--black);
        font-size: 54px;
    }

    50% {
        color: var(--black);
        font-size: 54px;
    }

    60% {
        color: var(--white);
        font-size: 70px;
    }

    70% {
        color: var(--black);
        font-size: 54px;
    }

    80% {
        color: var(--black);
        font-size: 54px;
    }

    90% {
        color: var(--black);
        font-size: 54px;
    }

    100% {
        color: var(--black);
        font-size: 54px;
    }
}

@keyframes city-7 {
    0% {
        color: var(--black);
        font-size: 54px;
    }

    10% {
        color: var(--black);
        font-size: 54px;
    }

    20% {
        color: var(--black);
        font-size: 54px;
    }

    30% {
        color: var(--black);
        font-size: 54px;
    }

    40% {
        color: var(--black);
        font-size: 54px;
    }

    50% {
        color: var(--black);
        font-size: 54px;
    }

    60% {
        color: var(--black);
        font-size: 54px;
    }

    70% {
        color: var(--white);
        font-size: 70px;
    }

    80% {
        color: var(--black);
        font-size: 54px;
    }

    90% {
        color: var(--black);
        font-size: 54px;
    }

    100% {
        color: var(--black);
        font-size: 54px;
    }
}

@keyframes city-8 {
    0% {
        color: var(--black);
        font-size: 54px;
    }

    10% {
        color: var(--black);
        font-size: 54px;
    }

    20% {
        color: var(--black);
        font-size: 54px;
    }

    30% {
        color: var(--black);
        font-size: 54px;
    }

    40% {
        color: var(--black);
        font-size: 54px;
    }

    50% {
        color: var(--black);
        font-size: 54px;
    }

    60% {
        color: var(--black);
        font-size: 54px;
    }

    70% {
        color: var(--black);
        font-size: 54px;
    }

    80% {
        color: var(--white);
        font-size: 70px;
    }

    90% {
        color: var(--black);
        font-size: 54px;
    }

    100% {
        color: var(--black);
        font-size: 54px;
    }
}

@keyframes city-9 {
    0% {
        color: var(--black);
        font-size: 54px;
    }

    10% {
        color: var(--black);
        font-size: 54px;
    }

    20% {
        color: var(--black);
        font-size: 54px;
    }

    30% {
        color: var(--black);
        font-size: 54px;
    }

    40% {
        color: var(--black);
        font-size: 54px;
    }

    50% {
        color: var(--black);
        font-size: 54px;
    }

    60% {
        color: var(--black);
        font-size: 54px;
    }

    70% {
        color: var(--black);
        font-size: 54px;
    }

    80% {
        color: var(--black);
        font-size: 54px;
    }

    90% {
        color: var(--white);
        font-size: 70px;
    }

    100% {
        color: var(--black);
        font-size: 54px;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}